Requirement already satisfied: pandas in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\documents\coding\tiko_analytics\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
import numpy as np

In [19]:
members = {
  'Name': ['Karina', 'Giselle', 'Winter', 'NingNing'],
  'Country': ['South Korea', 'Japan', 'South Korea', 'China'],
  'Age': [25, 25, np.nan, np.nan]
}

In [20]:
members = pd.DataFrame(members)

In [21]:
members

       Name      Country   Age
0    Karina  South Korea  25.0
1   Giselle        Japan  25.0
2    Winter  South Korea   NaN
3  NingNing        China   NaN

In [ ]:
members['Age'].astype('int')